<a href="{{site.baseurl}}{{post.url}}" class="link-unstyled">
  <li class="project media mb-2" style="cursor: pointer;">
    <div class="media-body {% if include.mainpage %}pl-2 pr-0{% else %}text-muted{% endif %}">
      <p class="mb-0"><small>{{ post.title }}</small></p>
      <!--<p class="text-secondary mb-0"><small>{{ post.excerpt }}</small></p>-->
    </div>
    {% if include.mainpage %}
    {% for image in site.static_files %}
      {% if image.path contains post.url %}
          <img class="ml-3" src="{{site.baseurl}}{{image.path}}" alt="{{ post.title }}" style="width: 64px; height: 64px; object-fit: cover;"></img> 
      {% break %} 
      {% endif %}
    {% endfor %}  
    {% endif %} 
  </li>
</a>