<div class="mb-4 d-none d-sm-none d-md-none d-lg-block d-xl-block ">

	<a href="{{site.baseurl}}/" class="link-unstyled"><h4 class="text-uppercase">Francis Cook</h4></a>
	<p class="text-secondary small">Strategic Designer based in Toronto. <br />I make startups grow 🚀 and dinosaurs dance 🦖.</p>
	
	<div class="text-secondary small">
	  <a href="tel:+1-647-558-4955">+1-647-558-4955</a><br />
	  <a href="mailto:hello@franciscook.com">hello@franciscook.com</a>
	  <br />
	  <span class="text-secondary">
	    <a href="http://www.linkedin.com/in/thefranciscook" target="_blank">LinkedIn</a> /
	    <a href="http://www.twitter.com/thefranciscook" target="_blank">Twitter</a> /
	    <a href="http://www.github.com/thefranciscook" target="_blank">GitHub</a>
	  </span>
	</div>
</div>