<div class="col-sm-12 col-md-6 col-lg-4 mb-3">
  
  	<div class="bg-white ">
	    <h5 id="strategic"  class="project-category text-uppercase pl-1">{{ include.title }}</h5>
	    <p class="text-secondary pl-1 mb-0"><small>{{ include.subtitle }}</small></p>
	</div>

  <div class="bg-light pb-1">
    <ul class="list-unstyled">
      <li class="dropdown-divider"></li>
      {% for post in include.category %}
        {% if post.url %}
          {% include project-list-item3.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>