<div class="mb-4 d-none d-sm-none d-md-none d-lg-block d-xl-block ">

	<a href="{{site.baseurl}}/" class="link-unstyled"><h4 class="text-uppercase">Francis Szakacs</h4></a>
	<p class="text-secondary small">Service Designer based in Toronto. <br />I make startups grow 🚀 and dinosaurs dance 🦖.</p>
	
	<div class="text-secondary small">
	  {% comment %}<a href="tel:+1-647-558-4955">+1-647-558-4955</a><br />{% endcomment %}
	  <a href="mailto:ping@francis.systems">ping@francis.systems</a>
	  <br />
	  <span class="text-secondary">
	    <a href="http://www.linkedin.com/in/francis_szakacs" target="_blank">LinkedIn</a> /
	    <a href="http://www.twitter.com/francis_systems" target="_blank">Twitter</a>
	  </span>
	</div>
</div>
