<div id="{{post.url  | replace:'/',''}}-card"  class="col project-card four-column" >
  <div>
    {% for image in site.static_files %}
      {% if image.path contains post.url %}
       <a href="{{ site.baseurl }}{{ post.url }}"><img src="./{{image.path}} "/></a>
      {% endif %}
    {% endfor %}
  </div>
  <div >
    <p class="project-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}, <span class="project-date">{{ post.date | date: "%Y" }}</span></a></p>
    
    <!--<p class="entry project-excerpt">{{ post.excerpt }}</p>
    
    <p><a class="show_details_button {{post.url  | replace:'/',''}}-card"  role="button" onclick="toggle_visibility('{{post.url  | replace:'/',''}}-card');" style="display: block">➡️ Project details</a></p>
    <div class="show_details_content {{post.url  | replace:'/',''}}-card" style="display: none">
      {{ post.content }}
    </div>
    -->
    <p class="project-tags">{% for tag in post.tags %} #{{ tag }}{% endfor %}</p>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{post.url  | replace:'/',''}}-modal">
  	Read more..
	</button>

	{% include project-modal.html %}

  </div>
</div>