---
layout: null
---
{% assign paragraphs = content | newline_to_br | split: '<br />' %}
{% for paragraph in paragraphs %}
	{% if forloop.last == true %}
		{% comment %}do nothing{% endcomment %}
	{% else %}
        <div class="carousel-item h-100">
			{% assign slideData = paragraph | split: ': ' %}
			<div class="d-flex h-100 v-100 text-dark justify-content-center "><!-- d-none d-md-block -->
				<div class="title-box d-flex flex-column justify-content-center align-self-center p-3">
					<div class="align-self-center">
						<!-- content image -->
						<img class="d-block w-100 h-100" src="/{{site.baseurl}}images/{{page.case}}/case/{{ forloop.index0 | plus: page.imageIndex }}.jpeg" alt="{{ urlAndDescription[0] | strip_html }}"></img>
					</div>
					<p class="mt-3">
						<!-- title -->
						<span style="font-weight: 400">{{ slideData[0]  | strip_html }}:</span>
						<!-- description -->
						<span style="font-weight: 200">{{ slideData[1]  | strip_html }}</span>
					</p>
				</div>
			</div>
		</div>

    {% endif %}
{% endfor %}


