---
layout: page-default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <h2>{{ page.excerpt }}</h2>
  <h3>{{ page.category }}</h3>
  {% for tag in page.tags %}
  	<a class="tag" href="/blog/tag/#{{ tag | slugify }}">{{ tag }}</a>
  {% endfor %}
  {% if page.cta!= null %}
  	<a href="{{ page.cta.link }}" target="blank">page.cta.label</a>
  {% endif %}

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
