---
layout: page-default
---

<style>
	.header-image-container {
      margin-top: -1rem;
      margin-left: -1rem;
      margin-right: -1rem;
    }

    .header-image-container img {
      object-fit: cover;  /*Do not scale the image */
      object-position: center; /* Center the image within the element */
      width: 100%;
      max-height: 250px;
      margin-bottom: 1rem;
    }
</style>

<article class="m-3">
	<div class="header-image-container">
	  	{% for image in site.static_files %}
	      {% if image.path contains page.url %}
	       <img src="../{{image.path}}" alt="Card image cap"></img>
	       {% break %}
	      {% endif %}
	    {% endfor %}
	</div>

	<p class="text-uppercase"><small class="text-muted">{{ page.category }}, {{ page.date | date: "%Y" }}</small></p>
		<h4 class="modal-title">{{ page.title }}</h4>
	<p class="lead">{{ page.excerpt }}</p>

	{{ page.content }}

	<p class="text-secondary">{% for tag in page.tags %}<span>#{{ tag }}</span> {% endfor %}</p>


	{% if page.cta %}
		<a role="button" class="btn btn-primary" href="{{ page.cta.link }}" target="blank">{{ page.cta.label }}</a>
	{% endif %}
	<a role="button" class="btn btn-secondary" href="../">Back</a>
</article>


      	
