---
layout: page-default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <h2>{{ page.excerpt }}</h2>
  <h3>{{ page.category }}</h3>

  <ul>
  {% for tag in page.tags %}
  	<li>
  		<a class="tag" href="/blog/tag/#{{ tag | slugify }}">#{{ tag }}</a>
  	</li>
  {% endfor %}
  </ul>

  <p>
  {% if page.cta %}
  	<a href="{{ page.cta.link }}" target="blank">{{ page.cta.label }}</a>
  {% endif %}
  </p>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
