---
layout: page-default
---

<style>
	

	.header-image-container {
      margin-top: -1rem;
      margin-left: -1rem;
      margin-right: -1rem;
      margin-bottom: 1rem;
      background-color: black;
    }

    .header-image-container img {
      object-fit: cover;  /*Do not scale the image */
      object-position: Center; /* Center the image within the element */
      width: 100%;
      max-height: 250px;
      
      opacity: .9;
      
    }

    .post-body p, em, li{
    	 font-family: "Lato", sans-serif !important;
  font-weight: 400;
    }

    .post-body em {
    	padding: .2em;
    background-color: #fcf8e3;
    font-style: normal;
    }
</style>

<article class="m-3">
	<div class="header-image-container">
	  	{% for image in site.static_files %}
	      {% if image.path contains page.url %}
	       <img src="../{{image.path}}" alt="Card image cap"></img>
	       {% break %}
	      {% endif %}
	    {% endfor %}
	</div>
	<div class="pl-3 pr-3 pb-3">
		<p class="text-uppercase"><small class="text-muted">{{ page.category }}, {{ page.year }}</small></p>
			<h4 class="modal-title">{{ page.title }}</h4>

		{% if page.excerpt %}	
		<p class="lead">{{ page.excerpt }}</p>
		{% endif %}

		

		<div class="clearfix">
			{% if page.cta %}
			<div class="float-left">
				<a role="button" class="btn btn-primary mt-1 mb-4" href="{{ page.cta.link }}" target="blank">{{ page.cta.label }}</a>
			</div>
			{% endif %}

			<div class="float-right btn-group" role="group">
	            {% if page.previous.url %}
	            <a class="prev btn btn-secondary" role="button"  href="{{site.baseurl}}{{page.previous.url}}">⇦</a>
	            {% endif %}
	            {% if page.next.url %}
	            <a class="next btn btn-secondary" role="button"  href="{{site.baseurl}}{{page.next.url}}">⇨</a>
	            {% endif %}
        	</div>
        	<script>

				var navigateToPreviousPost = function(){
					{% if page.previous.url %}
                    document.location.href = "{{site.baseurl}}{{page.previous.url}}";
                    {% else %}
                    document.location.href = "{{site.baseurl}}/";
                    {% endif %}
				}

				var navigateToNextPost = function(){
					{% if page.next.url %}
                    document.location.href = "{{site.baseurl}}{{page.next.url}}";
                    {% else %}
                    document.location.href = "{{site.baseurl}}/";
                    {% endif %}
				}


        		// Keyboard navigation
                document.onkeydown = function (e) { 
                  e = e || window.event; 
                  var charCode = (e.charCode) ? e.charCode : e.keyCode;

                  if (charCode == 37) {
                    navigateToPreviousPost();
                  }
                  else if (charCode == 39) {
                    navigateToNextPost();
                  }
                };
              </script>

        </div>
      </div>

		<div class="post-body">
			{{ page.content }}
		</div>

		<p class="text-secondary mt-4 mb-0">{% for tag in page.tags %}<span>#{{ tag }}</span> {% endfor %}</p>
	</div>
</article>


      	
